<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
<style>
    /* Default: 4 items per row */
    .card-responsive {
        flex: 1 1 calc(25% - 1rem); /* 4 items per row */
        margin: 0.5rem;
    }

    /* Tablet: 2 items per row */
    @media (max-width: 992px) {
        .card-responsive {
            flex: 1 1 calc(50% - 1rem); /* 2 items per row */
        }
    }

    /* Mobile: 1 item per row */
    @media (max-width: 576px) {
        .card-responsive {
            flex: 1 1 calc(100% - 1rem); /* 1 item per row */
        }
    }
</style>

</head>
<body>
    
    
    
    <%- include('./partials/nav') %>

    <div class="container mt-3 ml-3 d-flex flex-wrap justify-content-start">
        <% blogs.forEach(blog => { %>
            <div class="card m-2" style="width: calc(25% - 1rem);">
                <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <%- include('./partials/scripts') %>
   
    
</body>
</html>